h1, h2, h3 {
    text-align: center;
}

body { background-color: #eee; }

div#app {
    width: 720px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 6px rgb(0 0 0 / 20%);
}

div#inputs {
    width: max-content;
    margin: 0 auto;
}

@media screen and (max-width: 720px) {
    div#app {
        width: 100%; /* Adjusted width for smaller screens */
    }
}

table {
    margin: 1em auto;
    background: #04ee6d;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
}

tbody tr:nth-child(odd) {
  background-color: #ddd;
}

tbody tr:nth-child(even) {
  background-color: #fff;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  padding-left: 0.25em;
  color: red;
}

.tooltip::after {
  content: "(?)"; /* Display the tooltip symbol */
  font-size: 0.8em; /* Slightly smaller than the normal text */
  color: blue; /* Adjust color if needed */
  margin-left: 0.3em; /* Space between the text and the symbol */
}

.tooltip .tooltiptext {
    width: 120px;
    visibility: hidden;
    border-radius: 0.25em;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    left: 1.5em;
    top: 1.5em;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
